form{
    text-align:center;
    margin-top:50px;
    margin-bottom:30px;
    font-family: 'arial', sans-serif;
}
button{
    padding-top:6px;
    padding-bottom:6px;
    padding-left:10px;
    padding-right:10px;
    border-radius:3px;
    background-color:#2aabd6;
    border-color:#2aabd6;
    color:white;
    font-size:15px;
}
input{
    padding:4.5px;
    border-radius:2px;
    margin-right:2px;
    margin-left:2px;
    font-size:15px;
}