.responsiveTable {
    width: 100%;
  }
  
  .responsiveTable td .tdBefore {
    display: none;
  }
  a{
    color:#2aabd6;
    text-decoration:none;
  }
  .shade{
    background-color:#f4f7fc;
}
  Td{
    text-align:left;
    font-size:16px;
    padding-top:4px;
    padding-bottom:4px;
    color:#383c3d;
  }
  Th{
    text-align: left;
    border-bottom:1px solid grey;
    color:#888989;
  }
  
  @media screen and (max-width: 40em) {
    /*
      Force table elements to not behave like tables anymore
      Hide table headers (but not display: none;, for accessibility)
    */
  
    .responsiveTable table,
    .responsiveTable thead,
    .responsiveTable tbody,
    .responsiveTable th,
    .responsiveTable td,
    .responsiveTable tr {
      display: block;
    }
  
    .responsiveTable thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
      border-bottom: 2px solid #333;
    }
  
    .responsiveTable tbody tr {
      border: 1px solid #000;
      padding: .25em;
    }
  
    .responsiveTable td.pivoted {
      /* Behave like a "row" */
      border: none;
      position: relative;
      padding-left: 50%;
      text-align: left;
    }
  
    .responsiveTable td .tdBefore {
      /* Now like a table header */
      position: absolute;
      display: block;
  
      /* Top/left values mimic padding */
      left: 1rem;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: 600;
    }
  }